<div class="col-xs-12">
    <div class="page-header">
        <h1 class="pull-left">
            <i class="icon-user"></i>
            Operator
        </h1>
    </div>
    
    <button class="btn btn-success btn-sm" ng-click="open(operator)"><i class="icon-plus"></i> New</button>
    <button class="btn btn-success btn-sm" ng-click="reloadPage(1)"><i class="icon-refresh"></i> Refresh</button>
    <br /><br />
    <div ng-if="users.content.length === 0">No operator found.</div>
    
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered pagin-table" ng-if="operators.content.length > 0">
        <thead>
            <tr>
                <th rowspan="2" class="text-center">Name</th>
                <th rowspan="2" class="text-center">Phone</th>
                <th colspan="7" class="text-center">Work Schedule</th>
                <th rowspan="2" class="text-center">Active</th>
                <th rowspan="2" class="text-center">#</th>
            </tr>
            <tr>
                <th class="text-center">Monday</th>
                <th class="text-center">Tuesday</th>
                <th class="text-center">Wednesday</th>
                <th class="text-center">Thursday</th>
                <th class="text-center">Friday</th>
                <th class="text-center">Saturday</th>
                <th class="text-center">Sunday</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in operators.content">
                <td>{{r.name}}</td>
                <td class="text-center">{{r.phone}}</td>
                <td class="text-center"><i class="icon-ok" ng-if="r.mon > 0"></i> <i class="icon-minus" ng-if="r.mon == 0"></i> </td>
                <td class="text-center"><i class="icon-ok" ng-if="r.tue > 0"></i> <i class="icon-minus" ng-if="r.tue == 0"></i></td>
                <td class="text-center"><i class="icon-ok" ng-if="r.wed > 0"></i> <i class="icon-minus" ng-if="r.wed == 0"></i></td>
                <td class="text-center"><i class="icon-ok" ng-if="r.thu > 0"></i> <i class="icon-minus" ng-if="r.thu == 0"></i></td>
                <td class="text-center"><i class="icon-ok" ng-if="r.fri > 0"></i> <i class="icon-minus" ng-if="r.fri == 0"></i></td>
                <td class="text-center"><i class="icon-ok" ng-if="r.sat > 0"></i> <i class="icon-minus" ng-if="r.sat == 0"></i></td>
                <td class="text-center"><i class="icon-ok" ng-if="r.sun > 0"></i> <i class="icon-minus" ng-if="r.sun == 0"></i></td>
                <td class="text-center"><i class="icon-ok" ng-if="r.enabled > 0"></i> <i class="icon-minus" ng-if="r.enabled == 0"></i></td>
                <td>
                    <button class="btn btn-default btn-sm" ng-click="open(r)"><i class="icon-pencil"></i> </button>
                    <button class="btn btn-danger btn-sm" ng-click="remove(r)"><i class="icon-trash"></i> </button>
                </td>
            </tr>
        </tbody>
    </table>
              
    <div style="text-align: center;" ng-if="operators.totalPage > 1">                                        
        <ul class="pagination">                                                                                        
            <li ng-class="{disabled: operators.firstPage}">
                <a ng-click="reloadPage(1)">First</a>
            </li>
            <li ng-class="{disabled: operators.firstPage}">
                <a ng-click="reloadPage(operators.page - 1)">Prev</a>
            </li>
            <li ng-repeat="p in operators.pages">
                <a ng-click="reloadPage(p)">{{p}}</a>
            </li>
            <li ng-class="{disabled: operators.lastPage}">
                <a ng-click="reloadPage(operators.page + 1)">Next</a>
            </li>
            <li ng-class="{disabled: operators.lastPage}">
                <a ng-click="reloadPage(operators.pages.length)">Last</a>
            </li>
        </ul>
    </div>
                                    
</div>
