        <div class="modal-content">        
            <button type="button" class="close" ng-click="cancel();">
                <i class="icon-remove" style="margin:10px; color:blue;"></i>
            </button>
            <div class="modal-header">
                <h3 class="modal-title" ng-model="title">{{title}}</h3>
            </div>
            <div class="modal-body">
                <form name="form" class="form-horizontal" role="form" novalidate>
                    <div class="form-group">
                        <label class="col-sm-3 control-label ">Username </label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="user.username" class="form-control" placeholder="User name" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Password </label>
                        <div class="col-sm-9">
                            <input type="password" ng-model="user.password" class="form-control" placeholder="Password" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Full name </label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="user.name" class="form-control" placeholder="Full name" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Role </label>
                        <div class="col-sm-9">
                            <select class="form-control" ng-model="user.role_id" required>
                                <option ng-repeat="s in roles" ng-selected="user.role_id===s.id" value="{{s.id}}">{{s.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Customer </label>
                        <div class="col-sm-9">
                            <select class="form-control" ng-model="user.customer_id">
                                <option ng-repeat="c in customers" ng-selected="user.customer_id===c.id" value="{{c.id}}">{{c.name}}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="text-right">
                    <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                    <button ng-click="save(user);"
                        ng-disabled="form.$invalid || enableUpdate"
                        class="btn btn-sm btn-primary"
                        type="button">
                        <i class="ace-icon fa fa-check"></i>{{buttonText}}
                    </button>  
                </div>
            </div>
        </div>