.modal.fade{
	opacity: 1;
}
.modal.fade .modal-dialog {
	-webkit-transform: translate(0);
	-moz-transform: translate(0);
	transform: translate(0);
}
.bb-alert {
	position: fixed;
	bottom: 25%;
	right: 0;
	margin-bottom: 0;
	font-size: 1.2em;
	padding: 1em 1.3em;
	z-index: 2000;
}
.margin-bottom-20 {
	margin-bottom: 20px;
}
